.imgPause{
    width: 30px;
    height: 30px;
    margin: 0 5px;
}
.btn{
    border: none;
    background: none;
}

.btn:focus{
    outline: none;
}
.timeBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.active {
    color: red;
    background: wheat;
}